// colors

//primary
$primary-main-color: #228be6;
$primary-light-color: #c7daeb;
$primary-1-color: #e7f3ff;

// gray
$gray-main-color: #858585;
$gray-light-color: #d4d4d4;
$gray-1-color: #f3f3f3;

// * -----------------------------*

// spacing

$spacing-sm: 6px;
$spacing-md: 8px;
$spacing-lg: 12px;
$spacing-xl: 16px;

// * -----------------------------*

// radius

$radius-xs: 2px;
$radius-md: 4px;
$radius-md: 6px;
$radius-lg: 8px;

// * -----------------------------*
